.card .card-image .card-title {
    color: #ffd400;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    -webkit-text-stroke: 0.5px black;
}
.card .card-title {
    font-size: 37px;
    font-weight: 500;
}